{# templates/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container"><h1>Your lucky number is {{ number }}</h1></div>
    <img class="img-fluid" src="{{ asset('img/fiets.png') }}">
    <a href="{{ path('goede_morgen') }}">Ga naar de route goede_morgen</a>

    {% for day in days %}
        <h4>{{ day }}</h4>
    {% endfor %}

{% endblock %}